.settings-field-map-table { }
.settings-field-map-table thead th { font-weight: bold; }
table.settings-field-map-table tbody td { padding: 0px 0px 8px 0px;}
.settings-field-map-table select { max-width: 90%; }
.settings-field-map-table .custom-key-reset, .gaddon-setting-select-custom-container .select-custom-reset {
	background: url( ../../../images/xit.gif ) no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:none;
	position:absolute;
	text-indent:-9999px;
	width:10px;
	height: 10px;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
}
.settings-field-map-table .custom-key-reset {
	margin-top: 10px;
	margin-left: 165px;
}
.settings-field-map-table .repeater th { padding-left: 0px; }

.settings-field-map-table .custom-key-reset:hover, .gaddon-setting-select-custom-container .select-custom-reset:hover { background-position-x: -10px; }
.settings-field-map-table .custom-key-container:hover .custom-key-reset, .gaddon-setting-select-custom-container:hover .select-custom-reset { display:block; }


.gaddon-setting-select-custom-container {
	display:inline-block;
	position:relative;
	width: 210px;
}
.gaddon-setting-select-custom-container .select-custom-reset {
	left: 171px;
	top: 10px;
}
.gaddon-section .required { color: #f00; }
.gaddon-setting-inline{
    display:inline;
    margin-right:6px;
}

.gaddon-section-description ol { }
.gaddon-section-description ol li {
    list-style: decimal;
}

.repeater-buttons .add-item { margin-right: 6px; }

.mt-gaddon-editor {
	float: right;
	position: relative;
	right: 21px;
	top: 70px;
}

.mt-gaddon-editor ~ .wp-editor-wrap {
	margin-right: 23px;
}

/* Visual Radio Buttons */
.gaddon-setting-choice-visual {
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
}

.gaddon-setting-choice-visual label {
	background: #F9F9F9;
	border: 1px solid #eee;
	display: inline-block;
}

.gaddon-setting-choice-visual label > span {
	display: inline-block;
	-webkit-filter: brightness( 1.8 ) grayscale( 1 ) opacity( .5 );
	-moz-filter: brightness( 1.8 ) grayscale( 1 ) opacity( .5 );
	filter: brightness( 1.8 ) grayscale( 1 ) opacity( .5 );
	height: 65px;
	min-width: 110px;
	padding: 5px 10px 0;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	vertical-align: top;
}

.gaddon-setting-choice-visual label > span > i {
	color: #0074a2;
	display: inline-block;
	font-size: 2.5em;
	height: 32px;
	margin: 5px;
	width: 32px;
}

.gaddon-setting-choice-visual label > span > img{
    height: 32px;
    margin: 5px;
    vertical-align: middle;
    width: 32px;
}

.gaddon-setting-choice-visual input {
	display: none;
}

.gaddon-setting-choice-visual input:checked + label {
	background-color: #fff;
	border: 1px solid #ccc;
}

.gaddon-setting-choice-visual input:checked + label > span {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.gaddon-setting-choice-visual input:not([disabled]):not([checked]) + label > span:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
