.settings-field-map-table { }
.settings-field-map-table thead th { font-weight: bold; border-bottom: 1px solid #ccc; }
.settings-field-map-table tbody td { border-bottom: 1px dotted #eee; }
.settings-field-map-table select { max-width: 90%; }
.settings-field-map-table .custom-key-reset, .gaddon-setting-select-custom-container .select-custom-reset {
	background: url( ../../../images/xit.gif ) no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:none;
	position:absolute;
	text-indent:-9999px;
	width:10px;
	height: 10px;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
}
.settings-field-map-table .custom-key-reset {
	margin-top: 10px;
	margin-left: 165px;
}
.settings-field-map-table .repeater th { padding-left: 0px; }

.settings-field-map-table .custom-key-reset:hover, .gaddon-setting-select-custom-container .select-custom-reset:hover { background-position-x: -10px; }
.settings-field-map-table .custom-key-container:hover .custom-key-reset, .gaddon-setting-select-custom-container:hover .select-custom-reset { display:block; }

.gaddon-setting-select-custom-container { display:inline-block;position:relative; }
.gaddon-setting-select-custom-container .select-custom-reset {
	top: 10px;
	right: 10px;
}

.gaddon-section .required { color: #f00; }
.gaddon-setting-inline{
    display:inline;
    margin-right:6px;
}

.mt-gaddon-editor {
	float: right;
	position: relative;
	right: 21px;
	top: 70px;
}

.mt-gaddon-editor ~ .wp-editor-wrap {
	margin-right: 23px;
}